@font-face {
  font-family: 'mill';
  src:  url('fonts/mill.eot?7yh1zc');
  src:  url('fonts/mill.eot?7yh1zc#iefix') format('embedded-opentype'),
    url('fonts/mill.ttf?7yh1zc') format('truetype'),
    url('fonts/mill.woff?7yh1zc') format('woff'),
    url('fonts/mill.svg?7yh1zc#mill') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mill-"], [class*=" mill-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mill' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mill-notebook:before {
  content: "\e900";
}
.mill-test:before {
  content: "\e901";
}
.mill-user:before {
  content: "\e902";
}
.mill-download:before {
  content: "\e903";
}
