.tools-container
  padding-top: 40px
  padding-bottom: 40px
  font-size: 16px

.module
  padding: 0 30px 30px

  .module-header
    margin: 20px 0
    color: $mill-blue
    font-size: 1.8rem

    span
      font-size: 1.2em
    h4
      color: $mill-blue
      font-size: 1.1em
      font-weight: 400
      display: inline-block
      margin-right: 10px

#calendar h2
  font-size: 20px
  margin-top: 5px

ul.contact-list
  li:nth-child(odd)
    background-color: #f0f0f0
  .row
    padding-top: 10px
    padding-bottom: 10px
    margin-bottom: 15px
  margin-top: 30px
  p
    line-height: 25px
  .name
    opacity: 0.8
    font-size: 1.2rem
  .number
    font-size: 1.4rem
    font-weight: 500
    margin: 3.5px 0
    color: $mill-blue-dark

.big-icon
  font-size: 3em
  padding: 0 10px
  width: 100%
  display: flex
  align-self: center

// Overrides
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus
  box-shadow: none

.toast-container
  position: fixed
  top: 0
  right: 0
  padding: 30px

@media (min-width: 768px)
  .container, .tools-container
    margin: 0 auto