.page-banner
  height: 40vh
  min-height: 250px
  overflow: hidden
  position: relative

  .title
    position: absolute
    top: 50%
    width: 50%
    left: 20px
    font-weight: 300
    color: #fff
    transform: translateY(-50%)
    font-family: "Raleway", sans-serif


.prev_page
  &.page_nav_container
    top: 15px
    left: 80px
    bottom: auto
    right: auto
    border: none !important
  .page_nav_about
    color: #fff
    padding: 15px
    padding-left: 35px
    font-size: 1.5rem
    i
      left: -20px
      right: auto
  &:hover .page_nav_about i
    left: 10px

.about_text_container
  position: absolute
  left: 0
  top: 50%
  -webkit-transform: translateY(-50%)
  -moz-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  -o-transform: translateY(-50%)
  transform: translateY(-50%)
  width: 50%
  padding-left: 85px
  z-index: 10
  &.banner-2
    top: calc(10% + 42px)

.about_text_container_inner
  position: relative
  width: 100%
  height: 100%
  -webkit-font-smoothing: antialiased
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px
  h2
    line-height: 72px
    color: #F7F7F7
    font-weight: 600
    font-size: 2rem
    &::selection
      background: $selection-color

  h2.title-2
    font-size: 3rem
    font-weight: 400
    color: $mill-blue

  p
    font-size: 18px
    line-height: 32px
    font-weight: 400
    color: #F7F7F7
    margin-top: 25px
    &::selection
      background: $selection-color

  h4, .email
    font-size: 80px
    line-height: 80px
    letter-spacing: 2px
    color: #F7F7F7
  h4, .email
    font-size: 30px
    line-height: 25px
    font-weight: 400

@media only screen and (max-width: 1620px)
  .about_text_container_inner p
    margin-top: 20px

@media only screen and (max-width: 480px)
  .about_text_container_inner h2
    font-size: 40px
    line-height: 36px

.panel-blue
  /* Permalink - use to edit and share this gradient:
   *http://colorzilla.com/gradient-editor/#485563+0,29323c+100
  background: #003895
  /* Old browsers
  background: -moz-linear-gradient(left, #061556 0%, #003895 100%)
  /* FF3.6-15
  background: -webkit-linear-gradient(left, #061556 0%, #003895 100%)
  /* Chrome10-25,Safari5.1-6
  background: linear-gradient(to right, #061556 0%, #003895 100%)
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfbfb', endColorstr='#cccecf',GradientType=1 )
/* IE6-9

.panel-light-blue
  background: #006d93
  background: -moz-linear-gradient(left, #003056 0%, #006d93 100%)
  background: -webkit-linear-gradient(left, #003056 0%, #006d93 100%)
  /* Chrome10-25,Safari5.1-6
  background: linear-gradient(to right, #003056 0%, #006d93 100%)
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c6ff ', endColorstr='#0072ff',GradientType=1 )


.about_image_container
  position: absolute
  bottom: 0
  right: 0
  width: 50%
  height: 100%

.about_image_container_inner
  position: relative
  width: 100%
  height: 100%

.about_image_outer
  position: relative
  width: 100%
  height: 100%
  overflow: hidden
  -webkit-transform: skew(-17deg)
  -moz-transform: skew(-17deg)
  -ms-transform: skew(-17deg)
  -o-transform: skew(-17deg)
  transform: skew(-17deg)
  transform-origin: bottom left

.about_image_inner
  width: 100%
  height: 100%
  -webkit-transform: skew(17deg)
  -moz-transform: skew(17deg)
  -ms-transform: skew(17deg)
  -o-transform: skew(17deg)
  transform: skew(17deg)
  transform-origin: bottom left

.about_image_background
  position: relative
  width: 100%
  height: 100%
  img
    display: block
    position: absolute
    top: 0
    right: 0
    width: auto
    height: 100%

.about_background
  position: absolute
  top: 0
  right: 0
  width: 100%
  height: 100%
  background-position: top right
  background-size: cover
  background-repeat: no-repeat
  transition: all .4s


.about_nav_container
  position: absolute
  width: 400px
  height: 100px
  bottom: 50px
  left: -50px

.about_nav_inner
  position: relative
  width: 100%
  height: 100%

.about_nav_1, .about_nav_2, .about_nav_3
  display: block
  width: 32%
  height: 100%
  margin: 0
  padding: 0
  float: left
  -webkit-transform: skew(-17deg)
  -moz-transform: skew(-17deg)
  -ms-transform: skew(-17deg)
  -o-transform: skew(-17deg)
  transform: skew(-17deg)
  transform-origin: bottom left
  border-right: solid 6px rgba(255, 255, 255, 0.2)
  border-bottom: solid 6px rgba(255, 255, 255, 0.2)
  overflow: hidden
  cursor: pointer

.about_nav_1, .about_nav_2
  margin-right: 2%

.about_nav_1:hover, .about_nav_2:hover, .about_nav_3:hover
  border-right: solid 6px rgba(255, 255, 255, 0.4)
  border-bottom: solid 6px rgba(255, 255, 255, 0.4)

.about_nav_1_inner, .about_nav_2_inner, .about_nav_3_inner
  width: 100%
  height: 100%
  -webkit-transform: skew(17deg)
  -moz-transform: skew(17deg)
  -ms-transform: skew(17deg)
  -o-transform: skew(17deg)
  transform: skew(17deg)
  transform-origin: bottom left

.about_nav_1_img
  position: relative
  width: 130%
  height: 100%
  background-repeat: no-repeat
  background-position: center
  background-size: cover

.about_nav_2_img
  position: relative
  width: 158px
  height: 100px
  background-repeat: no-repeat
  background-position: center
  background-size: cover

.about_nav_3_img
  position: relative
  width: 130%
  height: 100%
  background-repeat: no-repeat
  background-position: center
  background-size: cover


.page_nav_container
  position: absolute
  bottom: 50px
  left: 50%
  -webkit-transform: translateX(-50%)
  -moz-transform: translateX(-50%)
  -ms-transform: translateX(-50%)
  -o-transform: translateX(-50%)
  transform: translateX(-50%)
  width: 176px
  height: 44px
  overflow: visible
  border: solid 2px rgba(255, 255, 255, 0.2)
  border-radius: 22px
  -webkit-transition: all 200ms ease
  -ms-transition: all 200ms ease
  -o-transition: all 200ms ease
  -moz-transition: all 200ms ease
  transition: all 200ms ease
  z-index: 1000
  &:hover
    border: solid 2px #F7F7F7
    .page_nav_about i
      visibility: visible
      opacity: 1
      right: 10px
      color: #F7F7F7

.page_nav_container_inner
  display: block
  position: relative
  width: 100%
  height: 100%
  text-align: center
  cursor: pointer

.panel-green
  /* Permalink - use to edit and share this gradient:
   *http://colorzilla.com/gradient-editor/#485563+0,29323c+100
  background: #00936e
  /* Old browsers
  background: -moz-linear-gradient(left, #005253 0%, #00936e 100%)
  /* FF3.6-15
  background: -webkit-linear-gradient(left, #005253 0%, #00936e 100%)
  /* Chrome10-25,Safari5.1-6
  background: linear-gradient(to right, #005253 0%, #00936e 100%)
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56ab2f', endColorstr='#a8e063',GradientType=1 )

footer
  background-color: #f0f0f0
  padding: 20px

.fc-h-event
  cursor: pointer
