.btn-blue-dark
  color: #fff
  background-color: $mill-blue-dark
  &:hover
    color: #fff
    background-color: #003c91

.btn-blue
  color: #fff
  background-color: $mill-blue
  &:hover
    color: #fff
    background-color: $mill-blue-light


.btn-success
  background-color: $green
  border-color: $green
  &:hover
    background-color: $green-light
    border-color: $green-light

.btn
  text-decoration: none
  color: #fff
  text-align: center
  letter-spacing: .5px
  -webkit-transition: background-color .2s ease-out
  transition: background-color .2s ease-out
  border: none
  border-radius: 2px
  vertical-align: middle
  -webkit-tap-highlight-color: transparent
  outline: none

