@font-face
  font-family: Raleway
  src: local("Arial")
  unicode-range: U+0-2f, U+40-10FFFF

@media (max-width: 991px)
  .logo
    height: 75px !important

  .form-header
    display: none

  .header-desktop
    height: 50px

  .header-button
    margin-top: 0
    text-align: right

  .account-dropdown
    min-width: auto

.modal-body
  position: relative

.loader-block
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  justify-content: center
  align-content: center
  align-items: center
  background-color: #fff
  z-index: 1000