label
  font-weight: 500

.custom-file-label::after
  content: "Elegir"

fieldset
  border-bottom: 1px solid rgba(89, 89, 89, 0.3)
  margin-bottom: 20px
  padding-bottom: 20px
  margin-top: 5px
  padding-top: 5px
  h4
    margin-bottom: 15px


