.modal-header
  border: none
  border-radius: 0
  position: relative
  h5
    font-weight: 500
    font-size: 18px
  &:after
    position: absolute
    content: ""
    height: 3px
    bottom: 0
    left: 15px
    right: 15px
    background-color: $mill-blue