.page_nav_container
  overflow: visible
  -webkit-transition: all 200ms ease
  -ms-transition: all 200ms ease
  -o-transition: all 200ms ease
  -moz-transition: all 200ms ease
  transition: all 200ms ease
  z-index: 1000
  &:hover
    a
      color: #fff !important
    .page_nav_about i
      visibility: visible
      opacity: 1
      left: -10px
      color: #F7F7F7

.page_nav_container_inner
  display: block
  position: relative
  width: 100%
  height: 100%
  text-align: center
  cursor: pointer

.page_nav_about
  display: block
  font-size: 1.9rem
  font-weight: 500
  color: #fff
  -webkit-transition: all 200ms ease
  -ms-transition: all 200ms ease
  -o-transition: all 200ms ease
  -moz-transition: all 200ms ease
  transition: all 200ms ease
  strong
    font-weight: 700
  &::selection
    background: rgba(255, 255, 255, 0.3)
  i
    display: block
    position: absolute
    width: 18px
    height: 18px
    left: 10px
    right: auto
    top: calc(50% - -2px)
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
    font-size: 18px
    color: rgba(255, 255, 255, 0.2)
    visibility: hidden
    opacity: 0
    -webkit-transition: all 200ms ease
    -ms-transition: all 200ms ease
    -o-transition: all 200ms ease
    -moz-transition: all 200ms ease
    transition: all 200ms ease