@import "../../fonts/mill-icons/style.css"

@import "../../fonts/Raleway/stylesheet.css"

@import "variables"

body
  font-family: Raleway, Poppins, sans-serif

.login-side
  background-image: url('../../images/login-back.jpg')
  background-position: center
  background-size: cover

/*****
 * Nav on login page
 *****/
@import "page-nav"

/*****
 * Alerts overrides
 *****/
@import "alerts"

/*****
 * Dashboard overrides
 *****/
@import "dashboard"

/*****
@import "agents"

@import "agents-tools"

/*****
 * Tables
 *****/
@import "tables"

@import "toasts"

@import "modals"

/*****
 * Forms
 *****/
@import "forms"

@import "buttons"


