.toast-container
  z-index: 999999
  span
    margin-right: 10px

.toast
  background-color: #fff
  border-radius: 2px
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)

.toast-header
  padding: 0.55rem .75rem
  background-color: #fff
  background-clip: initial

  .toast-success &
    background-color: $success-color
    color: #fff
    .close
      color: #fff

  .toast-danger &
    background-color: $danger-color
    color: #fff
    .close
      color: #fff