$mill-blue: #006981
$mill-blue-light: #018dad
$mill-blue-light-dark: #0063a6
$mill-blue-dark: #002e67
$selection-color: $mill-blue-light
$health-color: #00635b
$success-color: #4CAF50
$green: #00936e
$green-light: #00c28f

$danger-color: #fa4251

.text-mill-blue
  color: $mill-blue

.blue-background
  background-color: $mill-blue

.blue-background-dark
  color: #fff
  background-color: $mill-blue-dark !important

.spinner-blue-mill
  border-color: $mill-blue

.spinner-blue-mill-light
  border-color: $mill-blue-light

.spinner-blue-mill-light-dark
  border-color: $mill-blue-light-dark

.spinner-blue-mill-dark
  border-color: $mill-blue-dark